.container-app {
    width: 80%;
    margin: 0 auto;
}

.students-box {
    margin-top: 100px;
    margin-left: 100px;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    background-color: rgb(9, 31, 46);
    justify-content: center;
    border-radius: 1rem;
    box-shadow: 2rem 2rem 8px rgba(0, 0, 0, 0.4);
}

.students-list {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 950px;
    border-radius: 20px;
    background-color: #3953c8;
}

img {
    width: 88%;
    height: 460px;
    border-radius: 10%;
    margin-left: 30px;
    margin-top: 25px;
    margin-bottom: 20px;
    border: 1px solid grey;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);
}

h2 {
    margin-top: 20px;
    font-size: 4rem;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

p {
    font-size: 2.5rem;
    color: rgb(30, 192, 97);
    text-align: center;
    margin-bottom: 2rem;
}

button {
    width: 34%;
    height: 6%;
    border-radius: 1rem;
    border: 1px solid grey;
    margin-left: 34%;
    color: rgb(30, 192, 97);
    font-size: 2rem;
    font-weight: bold;
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(0.8);
    color:rgb(9, 31, 46)
}